@tailwind base;
@tailwind components;
@tailwind utilities;


    .hero {
        width: 100%;
        height: 100vh; /* Use vh for full viewport height */
        max-height: 32rem;
        padding: 24px;
        position: relative;
        overflow: hidden;
        display: block;
        z-index: 10;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hero::before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        background: linear-gradient(to right, #68D391, #4299E1); /* Adjust gradient colors */
        opacity: 0.75;
        z-index: -5;
    
}
